* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:rgb(233, 232, 248);
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(26, 26, 26);
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: rgb(2, 218, 218);
    text-decoration:none;
}

p {
    font-size: 16px;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background123.png");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.primary-border {
    border-color: #fce138;
  }

.about-me, .work, .contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslategray;
}

.about-me h2, .work h2, .contact-me h2 {
    color: #024e76;
    font-size: 46px;
    margin-top: 10px;
    flex: 1 30%;
}

.about-me p, .work p, .contact-me p {
    color: #39a6b2;
    font-size: 18px;
    padding-left: 3px;
}

.verticalLine {
    border-left: thick solid #024e76;
  }


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative
    }
  
    header h1 {
      width: 100%;
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
  }
  
